{% load static %}
<head>
		<meta charset="utf-8">
		<title>Это заголовок тайтл</title>
		<link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>
<body>
<div class="container">
	<h1 class="title">Password Generator</h1>
	<div class="result">
		<div class="result__title field-title">Generated Password:</div>
		<h2>{{ pwd }} </h2>
		<br>
	</div>

<form action="{% url 'password' %}">
	<div class="settings">
		<span class="settings__title field-title">settings</span>
		<div class="length range__slider" data-min="4" data-max="32">
		<div class="length__title field-title" data-length='0'>length:</div>
		<input name="length" type="range" min="4" max="24" onchange="rangevalue.value=value" />
		<output id="rangevalue">12</output>
		</div>
		<div class="setting">
            <input type="checkbox" name="uppercase">Использовать верхний регистр
			<br>
			<input type="checkbox" name="numbers"  > Использовать цифры
			<br>
			<input type="checkbox" name="special" > Использовать специальные символы
		</div>
	</div>

	<button class="btn generate" id="generate">Generate Password</button>
	</form>
</div>
</body>
